/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #f5fcff;
  --color-dark-white: #bdbdbd;
  --color-blue: #2196f3;
  --color-dark-blue: #0173d1;
  --color-dark-grey: #353434;
  --color-grey: #616161;
  --color-light-grey: #79a1bb;
  --color-purple: #dbd9f5;
  --color-light-purple: #f2f1fc;
  --color-another-blue: #29b6f6;
  --color-light-blue: #c9e5fa;
  --color-yellow: #fdf9be;
  --color-orange: #ffaf37;
  --color-light-orange: #f0be74;
  --color-black: #000000;
  --color-light-blue: #f5fcff;
  --color-skills-blue: #7aa1f5;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 8px;

  /* Animation */
  --animation-duration: 250ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  cursor: default;
  color: var(--color-dark-grey);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
  padding-left: 0;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Typography */
h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-dark-grey);
  margin: 30px 0;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-blue);
  align-items: center;
  color: var(--color-white);
  padding: 3px 16px 3px 16px;
  z-index: 1;
}

#navbar.navbar--scroll {
  background-color: var(--color-blue);
}

.navbar__menu {
  display: flex;
}

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}

.navbar__menu__item {
  padding: 8px 15px;
  margin: 0 8px;
  font-size: var(--font-regular);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item:hover {
  border-color: var(--color-white);
  background-color: var(--color-dark-blue);
}

.navbar__toggle-btn {
  position: absolute;
  top: 8.05px;
  right: 13px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 150px;
  text-align: center;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-dark-grey);
}

.home__contact {
  color: var(--color-dark-grey);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-grey);
  border-radius: var(--size-border-radius);
}

.home__contact:hover {
  background-color: var(--color-light-blue);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  font-size: 80px;
  color: var(--color-dark-blue);
  line-height: 170px;
  width: 170px;
  height: 170px;
  margin: auto;
  border: 1px solid var(--color-another-blue);
  border-radius: 50%;
  margin-bottom: 18px;
}

.major__icon i {
  transition: var(--animation-duration);
}

.major__icon:hover i {
  color: var(--color-another-blue);
  transform: scale(1.1);
}

.major__description {
  font-size: var(--font-small);
}

.about__personalhistory {
  display: flex;
  align-items: center;
  padding: 16px 0;
}

.personalhistory__logo {
  margin: 0 16px;
  text-align: left;
  width: 50px;
  height: 50px;
}

.personalhistory__description {
  margin: 0 16px;
  text-align: left;
}

.personalhistory__name,
.personalhistory__period {
  color: var(--color-light-grey);
}

.personalhistory__name {
  font-size: var(--font-small);
}

.personalhistory__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-skills-blue);
}

.skillset {
  display: flex;
  background-color: var(--color-light-white);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-white);
  padding: 20px 40px;
}

.skill__description {
  display: flex;
  justify-content: space-between;
}

.skill {
  margin-bottom: 16px;
}

.skill__bar {
  width: 100%;
  height: 4px;
  background-color: var(--color-light-grey);
}

.skill__value {
  height: 4px;
  background-color: var(--color-orange);
}

.skillset__right {
  flex-basis: 40%;
}

.tools {
  background-color: var(--color-light-purple);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */

.work__categories {
  margin: 16px;
}

.category__btn {
  border: 1px solid var(--color-another-blue);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 50px;
}

.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-blue);
  color: var(--color-light-white);
}

.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
}

.category__count {
  background-color: var(--color-light-orange);
  border-radius: 50%;
  color: var(--color-light-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  opacity: 0;
  transition: all var(--animation-duration);
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration);
}

.work__projects.anim-out {
  opacity: 0.6;
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 280px;
  margin: 2px;
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
}

.project__description {
  position: absolute;
  background-color: var(--color-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: all var(--animation-duration);
}

.project:hover .project__description {
  opacity: 0.7;
}

.project__description h3 {
  color: var(--color-light-white);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 80px;
  height: 2px;
  margin-left: -40px;
  margin-top: 8px;
  background-color: var(--color-light-white);
}

/* Testimonials */
#testimonials {
  background-color: var(--color-purple);
}

.testimonials {
  margin: 30px;
}

.testimonial {
  display: flex;
  margin: 32px 0;
}

.testimonial__avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid var(--color-white);
}

.testimonial__avatar:nth-child(odd) {
  margin-right: 25px;
}

.testimonial__avatar:nth-child(even) {
  margin-left: 25px;
}

.testimonial__speech-bubble {
  padding: 18px;
  background-color: var(--color-white);
  border-radius: var(--size-border-radius);
}

.testimonial__speech-bubble p {
  color: var(--color-dark-grey);
}

.testimonial__speech-bubble a {
  color: var(--color-dark-blue);
}

/* Contact */
#contact {
  background-color: var(--color-dark-blue);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-light-white);
}

.contact__title {
  margin: 15px;
}

.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}

.contact__links i:hover {
  color: var(--color-light-blue);
  transition: all var(--animation-duration);
}

/* Scroll */
.arrow-up {
  color: var(--color-dark-grey);
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 50px;
  width: 70px;
  height: 70px;
  border: solid var(--color-dark-grey);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all 250ms ease-in;
}

.arrow-up.visible {
  opacity: 0.3;
  transition: var(--animation-duration);
  pointer-events: auto;
}

.arrow-up.visible:hover {
  opacity: 0.6;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .navbar__toggle-btn {
    display: block;
  }

  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  .about__majors {
    flex-direction: column;
  }

  .major {
    margin-bottom: 38px;
  }

  .skillset {
    flex-direction: column;
  }

  .project {
    flex-grow: 1;
  }

  .testimonial__avatar {
    width: 80px;
    height: 80px;
  }
}
